 <footer id="footer">
        <div class="container">
            <div class="col-md-12 text-center">
                <p class="copyright">Copyright: <span>2015</span> . Designed and Developed by <a href="http://www.Themefisher.com">Themefisher</a></p>
            </div>
        </div>
   </footer>