{{> navbar }}
<section class="global-page-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <h2>About FitTogether</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- 
        ================================================== 
            Company Description Section Start
        ================================================== -->
        <section class="company-description">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="block">
                            <h3 class="subtitle wow fadeInUp" data-wow-delay=".3s" data-wow-duration="500ms">Our Vision</h3>
                            <p  class="wow fadeInUp" data-wow-delay=".5s" data-wow-duration="500ms">
                                Here at FitTogether, our goal is to make working out social again! Have you ever gone to the gym for chest day, but found that you have no one to spot you? Have you ever wished you had someone to accompany you on that 13 mile run up and down the lakeshore? With FitTogether, finding someone to exercise with you is just a few clicks away.
                            </p>
                            <p  class="wow fadeInUp" data-wow-delay=".7s" data-wow-duration="500ms">
                                We aim to match you with only the most compatible excercise partners through our complex and ever-evolving algorithms, providing you with the ideal workouts with the most compatible people!
                            </p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- 
        ================================================== 
            Company Feature Section Start
        ================================================== -->
        <section class="about-feature clearfix">
            <div class="container-fluid">
                <div class="row">
                    <div class="block about-feature-1 wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">
                        <h2>
                        Ease of Use
                        </h2>
                        <p>
                            FitTogether is simple to use, and easy to pick up. After setting up a profile, filter through all the people around you by specifying an excercise! After only a few clicks, you'll find a suitable workout partner in no time at all!
                        </p>
                    </div>
                    <div class="block about-feature-2 wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s">
                        <h2 class="item_title">
                        Instant Feedback
                        </h2>
                        <p>
                           Using our various filters, you will see the profiles of the people with the best compatibility change instantly! 
                        </p>
                    </div>
                    <div class="block about-feature-3 wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".7s">
                        <h2 class="item_title">
                        Dynamic Relations
                        </h2>
                        <p>
                            Once we have a chat feature, you'll be able to connect right away with people near you that are also interested in the same excercises! Strike up a conversation and link up! <br><br>
                        </p>
                    </div>
                </div>
            </div>
        </section>


        <!-- 
        ================================================== 
            Team Section Start
        ================================================== -->
        <section id="team">
            <div class="container">
                <div class="row">
                    <h2 class="subtitle text-center">Meet The Team</h2>
                    <div class="col-md-3">
                        <div class="team-member wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".3s">
                            <div class="team-img">
                                <img src="images/group/tiffani.jpg" class="team-pic" alt="">
                            </div>
                            <h3 class="team_name">Tiffani Elmore</h3>
                            <p class="team_designation">CEO, Project Manager</p>
                            <p class="team_text">Trying to be magical. </p>
                            <p class="social-icons">
                                <a href="#" class="facebook" target="_blank"><i class="ion-social-facebook-outline"></i></a>
                                <a href="#" target="_blank"><i class="ion-social-twitter-outline"></i></a>
                                <a href="#" target="_blank"><i class="ion-social-linkedin-outline"></i></a>
                                <a href="#" target="_blank"><i class="ion-social-googleplus-outline"></i></a>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="team-member wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".5s">
                            <div class="team-img">
                                <img src="images/group/john.jpg" class="team-pic" alt="">
                            </div>
                            <h3 class="team_name">John Gorman</h3>
                            <p class="team_designation">CEO, Project Manager</p>
                            <p class="team_text">Windblown hair, flawless shades.</p>
                            <p class="social-icons">
                                <a href="#" class="facebook" target="_blank"><i class="ion-social-facebook-outline"></i></a>
                                <a href="#" target="_blank"><i class="ion-social-twitter-outline"></i></a>
                                <a href="#" target="_blank"><i class="ion-social-linkedin-outline"></i></a>
                                <a href="#" target="_blank"><i class="ion-social-googleplus-outline"></i></a>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="team-member wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".7s">
                            <div class="team-img">
                                <img src="images/group/nathan.jpg" class="team-pic" alt="">
                            </div>
                            <h3 class="team_name">Nathan Leung</h3>
                            <p class="team_designation">CEO, Project Manager</p>
                            <p class="team_text">Has fake people showing fake love to him.</p>
                            <p class="social-icons">
                                <a href="#" class="facebook" target="_blank"><i class="ion-social-facebook-outline"></i></a>
                                <a href="#" target="_blank"><i class="ion-social-twitter-outline"></i></a>
                                <a href="#" target="_blank"><i class="ion-social-linkedin-outline"></i></a>
                                <a href="#" target="_blank"><i class="ion-social-googleplus-outline"></i></a>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="team-member wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".9s">
                            <div class="team-img">
                                <img src="images/group/johnny.jpg" class="team-pic" alt="">
                            </div>
                            <h3 class="team_name">Johnny Perez</h3>
                            <p class="team_designation">CEO, Project Manager</p>
                            <p class="team_text">Magic Mike meets pirate wench realness.</p>
                            <p class="social-icons">
                                <a href="#" class="facebook" target="_blank"><i class="ion-social-facebook-outline"></i></a>
                                <a href="#" target="_blank"><i class="ion-social-twitter-outline"></i></a>
                                <a href="#" target="_blank"><i class="ion-social-linkedin-outline"></i></a>
                                <a href="#" target="_blank"><i class="ion-social-googleplus-outline"></i></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {{> footer }}