{{> navbar }}
<section id="hero-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="block wow fadeInUp" data-wow-delay=".3s">
                        <!-- Slider -->
                        <section class="cd-intro">
                            <h1 class="wow fadeInUp animated cd-headline slide" data-wow-delay=".4s">
                                <span>YOU'RE LOOKING FOR A FELLOW</span><br>
                                <span class="cd-words-wrapper">
                                    <b class="is-visible">RUNNER</b>
                                    <b>YOGA ENTHUSIAST</b>
                                    <b>BODYBUILDER</b>
                                    <b>SWIMMER</b>
                                </span>
                                </h1>
                        </section>
                        <!-- cd-intro -->
                        <!-- /.slider -->
                        <h2 class="wow fadeInUp animated" data-wow-delay=".6s">
                                    You've come to the right place.<br> With FitTogether, you'll be able to connect with the perfect workout partner in your area in minutes!
                                </h2>
                        <a class="btn-lines dark light wow fadeInUp animated btn btn-default btn-green" data-wow-delay=".9s" href= "quiz">Sign up now!</a>

                        <a class="btn-lines dark light wow fadeInUp animated  btn btn-default btn-green" data-wow-delay=".9s" href="profile" data-section="profile">&nbsp;Login Here! &nbsp;</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/#main-slider-->
    <!--
            ==================================================
            Slider Section Start
            ================================================== -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                        <h2>
                        About Us
                                </h2>
                        <p>
                            Our vision for creating FitTogether has been an easy-to-use application that allows for users to easily find and connect with fellow workout partners in their area, from the wide spectrum of excercises across the board.
                        </p>
                        <p>
                            With FitTogether, users are shown other users most compatible with their fitness profiles in their area, and through a chat system, be able to quickly meet and arrange to meet up and begin working out!
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="block wow fadeInRight" data-wow-delay=".3s" data-wow-duration="500ms">
                        <img src="images/workout-couple.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /#about -->
    <!--
            ==================================================
            Call To Action Section Start
            ================================================== -->
    <section id="call-to-action">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h2 class="title wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms">Featured in :</h1>
                                <p class="wow fadeInDown" data-wow-delay=".5s" data-wow-duration="500ms">Men's Fitness <br> Esquire <br> Modern American Woman <br> Vogue Italia <br> Easy Country Living <br> Car Engine Enthusiasts</p>
                                <a href="contact.html" class="btn btn-default btn-contact wow fadeInDown" data-wow-delay=".7s" data-wow-duration="500ms">Read More Here</a>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </section>
    <section id="feature">
        <div class="container">
            <div class="section-heading">
                <h1 class="title wow fadeInDown" data-wow-delay=".3s">Features</h1>
                <p class="wow fadeInDown" data-wow-delay=".5s">
                    
                </p>
            </div>
            <div class="row">
                <div class="col-md-4 col-lg-4 col-xs-12">
                    <div class="media wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="300ms">
                        <div class="media-left">
                            <div class="icon">
                                <i class="ion-ios-pie"></i>
                            </div>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">In-Depth Fitness Quiz</h4>
                            <p>Detailed quiz to help sort through potential matches</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-xs-12">
                    <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="600ms">
                        <div class="media-left">
                            <div class="icon">
                                <i class="ion-email-unread"></i>
                            </div>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">In-line Chat System</h4>
                            <p>Quick and easy chatting application to arrange workout sessions</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-xs-12">
                    <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="900ms">
                        <div class="media-left">
                            <div class="icon">
                                <i class="ion-happy"></i>
                            </div>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">New Connections</h4>
                            <p>Meet people with the same interests and workout capacities as you!</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-xs-12">
                    <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="1200ms">
                        <div class="media-left">
                            <div class="icon">
                                <i class="ion-trophy"></i>
                            </div>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Search by Exercise</h4>
                            <p>Filter through all of the available workout partners by selecting the your favorite workouts and exercises</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-xs-12">
                    <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="1500ms">
                        <div class="media-left">
                            <div class="icon">
                                <i class="ion-ios-people"></i>
                            </div>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Fitness Partners, Now</h4>
                            <p>Link up with people looking to workout within the next thirty minutes!</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-xs-12">
                    <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="1800ms">
                        <div class="media-left">
                            <div class="icon">
                                <i class="ion-ios-barcode-outline"></i>
                            </div>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Easy to Use</h4>
                            <p>Create a profile with ease and match with workout partners most similar to your ideal workout partner!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{{> footer }}
