{{> navbarLogin }}

<section class="global-page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h2>Welcome back to FitTogether!</h2>
                        <ol class="breadcrumb">
                        </ol>
                    </div>
                </div>
            </div>
        </div>
</section>

<section id="blog-full-width">
        <div class = "text-center">
        <h3> Tiffani, here are your best matches: </h3></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <ul class = "match_list">
                        {{#each profile}}
                            <li>
                                {{> matchProfile }}
                            </li>
                        {{/each}}
                    </ul>
 <div class="row">
                <div class="col-md-4">
                    <div class="sidebar">
                        <div class="author widget">
                            <img class="img-responsive" src="images/author/author-bg.jpg">
                            <div class="author-body text-center">
                                <div class="author-img">
                                    <img src="images/avatar1.jpg">
                                </div>
                                <div class="author-bio">
                                    <h3>Tiffani Elmore</h3>
                                    <p>"Sweat is fat crying!"</p>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="col-md-8 text-center">
                    <article class="wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms">
                        <div class="blog-post-image">
                            <a href= ""><img class="img-responsive" src="images/athlete8.jpg" alt="" height="300" width="300" /></a>
                        </div>
                        <div class="blog-content">
                            <p>Compatibility Score: 97%
                            </p>
                            <p>Name: Darnell Kelley
                            </p>
                            <p>Age: 32
                            </p>
                            <p>Location: Chicago, IL
                            </p>
                            <p>Excercise: Working out
                            </p>
                            <p>Availability: In the next hour
                            </p>
                            <a href="" class="btn btn-dafault btn-details">Send a message!</a>
                        </div>
                    </article>
                     <article class="wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms">
                        <div class="blog-post-image">
                            <a href= ""><img class="img-responsive" src="images/athlete9.jpg" alt="" height="300" width="300" /></a>
                        </div>
                        <div class="blog-content">
                            <p>Compatibility Score: 94%
                            </p>
                            <p>Name: Bruce Carter
                            </p>
                            <p>Age: 28
                            </p>
                            <p>Location: Chicago, IL
                            </p>
                            <p>Excercise: Working out
                            </p>
                            <p>Availability: In the next hour
                            </p>
                            <a href="" class="btn btn-dafault btn-details">Send a message!</a>
                        </div>
                    </article>
                     <article class="wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms">
                        <div class="blog-post-image">
                            <a href= ""><img class="img-responsive" src="images/athlete13.jpg" alt="" height="300" width="300" /></a>
                        </div>
                        <div class="blog-content">
                            <p>Compatibility Score: 92%
                            </p>
                            <p>Name: Kay Ryan
                            </p>
                            <p>Age: 26
                            </p>
                            <p>Location: Chicago, IL
                            </p>
                            <p>Excercise: Working out
                            </p>
                            <p>Availability: In the next hour
                            </p>
                            <a href="" class="btn btn-dafault btn-details">Send a message!</a>
                        </div>
                    </article>
                                        <article class="wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms">
                        <div class="blog-post-image">
                            <a href= ""><img class="img-responsive" src="images/athlete11.jpg" alt="" height="300" width="300" /></a>
                        </div>
                        <div class="blog-content">
                            <p>Compatibility Score: 91%
                            </p>
                            <p>Name: Becky Hines
                            </p>
                            <p>Age: 41
                            </p>
                            <p>Location: Chicago, IL
                            </p>
                            <p>Excercise: Working Out
                            </p>
                            <p>Availability: In the 24 hours
                            </p>
                            <a href="" class="btn btn-dafault btn-details">Send a message!</a>
                        </div>
                                            <article class="wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms">
                        <div class="blog-post-image">
                            <a href= ""><img class="img-responsive" src="images/athlete21.png" alt="" height="300" width="300" /></a>
                        </div>
                        <div class="blog-content">
                            <p>Compatibility Score: 90%
                            </p>
                            <p>Name: Kenny Wolfe
                            </p>
                            <p>Age: 21
                            </p>
                            <p>Location: Chicago, IL
                            </p>
                            <p>Excercise: Cycling
                            </p>
                            <p>Availability: In the next hour
                            </p>
                            <a href="" class="btn btn-dafault btn-details">Send a message!</a>
                        </div>
                    </article>
                                        <article class="wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms">
                        <div class="blog-post-image">
                            <a href= ""><img class="img-responsive" src="images/athlete20.jpg" alt="" height="300" width="300" /></a>
                        </div>
                        <div class="blog-content">
                            <p>Compatibility Score: 90%
                            </p>
                            <p>Name: Julio Floyd
                            </p>
                            <p>Age: 29
                            </p>
                            <p>Location: Chicago, IL
                            </p>
                            <p>Excercise: Cycling
                            </p>
                            <p>Availability: In the next hour
                            </p>
                            <a href="" class="btn btn-dafault btn-details">Send a message!</a>
                        </div>
                    </article>
                    </article>
                                        <article class="wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms">
                        <div class="blog-post-image">
                            <a href= ""><img class="img-responsive" src="images/athlete14.jpg" alt="" height="300" width="300" /></a>
                        </div>
                        <div class="blog-content">
                            <p>Compatibility Score: 86%
                            </p>
                            <p>Name: Levi Jackson
                            </p>
                            <p>Age: 76
                            </p>
                            <p>Location: Chicago, IL
                            </p>
                            <p>Excercise: Working out
                            </p>
                            <p>Availability: In the 24 hours
                            </p>
                            <a href="" class="btn btn-dafault btn-details">Send a message!</a>
                        </div>
                    </article>
                                        <article class="wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms">
                        <div class="blog-post-image">
                            <a href= ""><img class="img-responsive" src="images/athlete15.jpg" alt="" height="300" width="300" /></a>
                        </div>
                        <div class="blog-content">
                            <p>Compatibility Score: 83%
                            </p>
                            <p>Name: Terrance Salazar
                            </p>
                            <p>Age: 39
                            </p>
                            <p>Location: Chicago, IL
                            </p>
                            <p>Excercise: Working out
                            </p>
                            <p>Availability: In the next 24 hours
                            </p>
                            <a href="" class="btn btn-dafault btn-details">Send a message!</a>
                        </div>
                    </article>
                    
                </div>
                </div>
                </div>
                <div class="col-md-4">
                    <div class="sidebar">
                        
                        <div class="categories widget text-center">
                            <h3 class="widget-head">My ideal workout partner:</h3>
                            <form>
                                <div class="form-group">
                                    <label for="exampleSelect1">Activity Level: </label>
                                    <select class="form-control" id="exampleSelect1">
                                        <option>1. Not Intense</option>
                                        <option>2. Lightly Intense</option>
                                        <option>3. Moderately Intense</option>
                                        <option>4. Highly Intense </option>
                                        <option>5. Super Intense</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="exampleSelect1">Works out: </label>
                                    <select class="form-control" id="exampleSelect1">
                                        <option>One time a week</option>
                                        <option>Two times a week</option>
                                        <option>Three times a week</option>
                                        <option>Four times a week</option>
                                        <option>Five times a week</option>
                                        <option>Six times a week</option>
                                        <option>Seven times a week</option>

                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="exampleSelect1">Fitness goal: </label>
                                    <select class="form-control" id="exampleSelect1">
                                        <option>Socialize and make new friends</option>
                                        <option>Get acquainted with the gym</option>
                                        <option>Periodically visit the gym</option>
                                        <option>Maintain regular physical activity levels</option>
                                        <option>Maintain regular physical activity levels</option>
                                        <option>Maintain active lifestyle and increase activity variety</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="exampleSelect1">Is:</label>
                                    <select class="form-control" id="exampleSelect1">
                                        <option>A couch potato</option>
                                        <option>Making an effort to be active</option>
                                        <option>Healthy, but desires improvements</option>
                                        <option>A fitness model</option>
                                        <option>Ripped</option>
                                    </select>
                                </div>
                                <div class="form-check">
                                <label for="exampleSelect1">Interested in:</label><br>
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input"> Running
                                    </label><br>
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input"> Weightlifting
                                    </label><br>
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input"> Yoga
                                    </label><br>
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input"> Group Excercise Classes
                                    </label><br>
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input"> Swimming
                                    </label><br>
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input"> Outdoor workout sessions
                                    </label><br>
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input"> Indoor workout sessions
                                    </label><br>
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input"> Biking
                                    </label><br>
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input"> HIIT
                                    </label><br><br>
                                <div class="form-group">
                                    <label for="exampleSelect1">Going to workout:</label>
                                    <select class="form-control" id="exampleSelect1">
                                        <option>In the next hour</option>
                                        <option>In the next 24 hours</option>
                                        <option>In the next few days</option>
                                        <option>In the next week</option>
                                    </select>
                                </div>
                                </div>
                                <a class="btn-lines dark light wow fadeInUp animated  btn btn-default btn-green" data-wow-delay=".9s" href="profilex" data-section="profilex">&nbsp;Submit &nbsp;</a>
                            </form>
                        </div>
                    </div>
                </div>
{{> footer }}
