{{> reduceNavbar }}

<div class="container text-center">
    <br><br><br><br><br><br>
       <div class="container">
        <div class="row">
            <div class="jumbotron">
                <h1>My Fitness Quiz</h1>
            </div>
        </div>

            <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><strong>Please enter the following information to get started: </strong></h3>
                        </div>

                        <div class="panel-body">
                            <form action="" method="POST" role="form">
                                <div class="form-group">
                                    <label for="">Username:</label>
                                    <input type="text" class="form-control" placeholder="Username" id="username" required>
                                </div>
                                <div class="form-group">
                                    <label for="">Name:</label>
                                    <input type="text" class="form-control" placeholder="Name" id="username" required>
                                </div>
                                <div class="form-group">
                                    <label for="">Age</label>
                                    <input type="text" class="form-control" placeholder="Age" id="age" required>
                                </div>
                                <div class="form-group">
                                    <label for="">Height</label>
                                    <input type="text" class="form-control" placeholder="Height (in inches)" id="height" required>
                                </div>
                                <div class="form-group">
                                    <label for="">Weight</label>
                                    <input type="number" class="form-control" placeholder="Weight (in pounds)" id="weight" required>
                                </div>
                            </form>
                        </div>

                </div>
            </div>          
        </div>

   <br>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><strong>Question 1. My activity level is...</strong></h3>
            </div>

            <div class="panel-body">
                <form action="" method="POST" role="form" class="chosen-select" id="intensity">

                    <div class="btn-group btn-block" data-toggle="buttons">
                        <div>
                            <label class="btn btn-default btn-lg btn-block grow">
                                <input type="radio" name="options" id="none" value="1" autocomplete="off" checked> not intense -- I came to float on a cloud.
                            </label>
                        </div>

                        <div>
                            <label class="btn btn-default btn-lg btn-block grow"> 
                                <input type="radio" name="options" id="lightly" value="2" autocomplete="off" checked> lightly intense
                            </label>
                        </div>        
                                
                        <div>
                            <label class="btn btn-default btn-lg btn-block grow"> 
                                <input type="radio" name="options" id="moderately" value="3" autocomplete="off" checked> moderately intense
                            </label>
                        </div>

                        <div>
                            <label class="btn btn-default btn-lg btn-block grow"> 
                                <input type="radio" name="options" id="highly" value="4" autocomplete="off" checked> highly intense
                            </label>
                        </div>

                        <div>
                            <label class="btn btn-default btn-lg btn-block grow"> 
                                <input type="radio" name="options" id="super" value="5" autocomplete="off" checked> super intense -- I came to win!
                            </label>
                        </div>
                    </div><!--close button group-->            

                </form>
            </div><!--close panel body-->

        </div>
    </div>          
</div>

    <br>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Question 2. I workout ___ day(s) per week</strong></h3>
                </div>

                <div class="panel-body">
                    <form action="" method="POST" role="form" class="chosen-select" id="frequency">

                        <div class="btn-group btn-block" data-toggle="buttons">
                        
                        <div>
                        <label class="btn btn-default btn-lg btn-block grow">
                            <input type="radio" name="options" value="1" autocomplete="off" checked> 1
                        </label>

                        <label class="btn btn-default btn-lg btn-block grow"> 
                            <input type="radio" name="options" value="2" autocomplete="off"> 2
                        </label>
                    
                        <label class="btn btn-default btn-lg btn-block grow"> 
                            <input type="radio" name="options" value="3" autocomplete="off"> 3
                        </label>

                        <label class="btn btn-default btn-lg btn-block grow"> 
                            <input type="radio" name="options" value="4" autocomplete="off"> 4
                        </label>

                        <label class="btn btn-default btn-lg btn-block grow"> 
                            <input type="radio" name="options" value="5" autocomplete="off"> 5
                        </label>

                        <label class="btn btn-default btn-lg btn-block grow"> 
                            <input type="radio" name="options" value="6" autocomplete="off"> 6
                        </label>

                        <label class="btn btn-default btn-lg btn-block grow"> 
                            <input type="radio" name="options" value="7" autocomplete="off"> 7
                        </label>
                        </div>

                        </div><!--close button group-->  

                    </form>
                </div><!--close panel body-->

            </div>
        </div>          
    </div>

    <br>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Question 3. My fitness goal is to...</strong></h3>
                </div>

                <div class="panel-body">
                    <form action="" method="POST" role="form" class="chosen-select" id="goal">

                        <div class="btn-group btn-block" data-toggle="buttons">
                            <div>
                                <label class="btn btn-default btn-lg btn-block grow">
                                    <input type="radio" name="options" id="none" value="1" autocomplete="off" checked> socialize and make new friends.
                                </label>
                            </div>

                            <div>
                                <label class="btn btn-default btn-lg btn-block grow"> 
                                    <input type="radio" name="options" id="lightly" value="2" autocomplete="off" checked> get aquainted with the gym or consider participating in physical activities.
                                </label>
                            </div>        
                                    
                            <div>
                                <label class="btn btn-default btn-lg btn-block grow"> 
                                    <input type="radio" name="options" id="moderately" value="3" autocomplete="off" checked> periodically visit the gym or participate in physical activities.
                                </label>
                            </div>

                            <div>
                                <label class="btn btn-default btn-lg btn-block grow"> 
                                    <input type="radio" name="options" id="highly" value="4" autocomplete="off" checked> maintain regular physical activity levels.
                                </label>
                            </div>

                            <div>
                                <label class="btn btn-default btn-lg btn-block grow"> 
                                    <input type="radio" name="options" id="super" value="5" autocomplete="off" checked> maintain active lifestyle and increase activity variety.
                                </label>
                            </div>
                        </div><!--close button group-->            

                    </form>
                </div><!--close panel body-->

            </div>
        </div>          
    </div>    
        
    <br> 

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Question 4. I currently see myself as...</strong></h3>
                </div>

                <div class="panel-body">
                    <form action="" method="POST" role="form" class="chosen-select" id="perception">

                        <div class="btn-group btn-block" data-toggle="buttons">
                            <div>
                                <label class="btn btn-default btn-lg btn-block grow">
                                    <input type="radio" name="options" id="none" value="1" autocomplete="off" checked> a couch potato.
                                </label>
                            </div>

                            <div>
                                <label class="btn btn-default btn-lg btn-block grow"> 
                                    <input type="radio" name="options" id="lightly" value="2" autocomplete="off"> not as fit as I could be, but still making an effort to be active.
                                </label>
                            </div>        
                                    
                            <div>
                                <label class="btn btn-default btn-lg btn-block grow"> 
                                    <input type="radio" name="options" id="moderately" value="3" autocomplete="off" checked> healthy, but in desire of improvements.
                                </label>
                            </div>

                            <div>
                                <label class="btn btn-default btn-lg btn-block grow"> 
                                    <input type="radio" name="options" id="highly" value="4" autocomplete="off" checked> a fitness model...people can tell that I workout.
                                </label>
                            </div>

                            <div>
                                <label class="btn btn-default btn-lg btn-block grow"> 
                                    <input type="radio" name="options" id="super" value="5" autocomplete="off" checked> Ripped -- my muscles have muscles!
                                </label>
                            </div>
                        </div><!--close button group-->            

                    </form>
                </div><!--close panel body-->

            </div>
        </div>          
    </div> 

    <br>
    

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Question 5. I normally participate in ...</strong></h3>
                </div>

                <div class="panel-body">
                <form action="" method="POST" role="form" class="chosen-select" id="activity">

               
                <div>
                    <label class="btn btn-primary active">
                        <input type="checkbox" id="running" autocomplete="off" checked> Running
                    </label>

                    <label class="btn btn-primary">
                        <input type="checkbox" id="weightlifting" autocomplete="off"> Weight lifting
                    </label>
                    <label class="btn btn-primary">
                         <input type="checkbox" id="yoga" autocomplete="off"> Yoga
                    </label>
                    <label class="btn btn-primary">
                        <input type="checkbox" id="groupexerciseclasses" autocomplete="off"> Group Exercise Classes
                    </label>
                    <label class="btn btn-primary">
                         <input type="checkbox" id="swimming" autocomplete="off"> Swimming
                    </label>
                    <label class="btn btn-primary">
                        <input type="checkbox" id="outdoorworkout" autocomplete="off"> Outdoor Workout Sessions
                    </label>
                </div>
            
                <br>

                <div>
                    <label class="btn btn-primary">
                         <input type="checkbox" id="indoorworkout" autocomplete="off"> Indoor Workout Sessions
                    </label>
                    <label class="btn btn-primary">
                         <input type="checkbox" id="biking" autocomplete="off"> Biking
                    </label>
                    <label class="btn btn-primary">
                         <input type="checkbox" id="hiit" autocomplete="off"> HIIT
                    </label>
                    <label class="btn btn-primary">
                         <input type="checkbox" id="tennis" autocomplete="off"> Tennis
                    </label>
                    <label class="btn btn-primary">
                         <input type="checkbox" id="dontparticipate" autocomplete="off"> I don't participate in any of these activites.
                    </label>
                </div>  

                </form>
                </div>

            </div>  
        </div>
    </div>

    <br>
    <br>

            <!-- Submit Button -->
        <a href="/profile">
            <button type="submit" class="btn btn-primary btn-lg btn-block" id="submit"><i class="fa fa-check-circle" aria-hidden="true"></i>Submit</button>
        </a>  

        <br>
        <br>

        <div class="modal-footer">
            <a href="/">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </a>
        </div>


    </div>

    <!-- Custom Script -->
    <script src="js/addprofile.js" type="text/javascript"></script>

{{> footer }}